@{
    ViewData["Title"] = "Listar";
}
<h1>@ViewData["Title"]</h1>

@model IEnumerable<FilmeModel> 

<h2>Listagem de Filmes</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Duração</th>
            <th scope="col">Classificação</th>
            <th scope="col">Gênero</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>